.story_title{
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-top: 70px;
  }
  
  .story_menu{
    align-items: center;
  }
 
  
  
  .vertical{
    border-left: 1px solid #a9a9a9;
    height: 30px;
  }
  .story_name{
  font-style: 10px;
  }
  .story_name:hover{
    font-weight: 600;
  }
  .block_left{
    width: 740px;
  }
  
  .card_info{
    
    font-size: 14px;
    margin: 15px;
    
  }
  .card{
    width: calc(20% - 20px);
    margin: 10px;
  }
  .card_wrapp{
    margin-top: 30px;
  }
  .card_titl{
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    .block_left {
      flex-direction: column;
    }
  
    .vertical {
      display: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .story_menu {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .vertical {
      display: none;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .card {
      width: 50%; /* Две карточки в ряд на экранах шириной до 768px */
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 100%; /* Одна карточка на всю ширину на экранах шириной до 480px */
    }
  }
 