.enter {
  background-color: #f5f5f5;
}

.enter_title,
.enter_txt,
.enter_btn {
  text-align: center;
  margin-bottom: 20px;
}

.enter_txt {
  font-size: 12px;
}

.enter_title {
  font-size: 20px;
}

.form_input::placeholder {
  color: #a9a9a9;
}



.form_input {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  width: 80%;
  border: 1px solid #d3d3d3;
}

/* Выбираем input с атрибутом type="email" */
form .form_input[type="email"] {
  width: 300px; 
  background-color: #fff;/* Задаем ширину для input type="email" */
}