.enter {
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.enter_title,
.enter_txt {
  text-align: center;
  margin-bottom: 20px;
}

.enter_txt {
  font-size: 12px;
}

.enter_title {
  font-size: 20px;
}

.email-input {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
}

.email-input input[type="email"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #d3d3d3;
  border-radius: 5px 0 0 5px; /* Закругляем левый край */
}

.email-input button[type="submit"] {
  padding: 10px;
  
  border: none;
  color: #fff;
  border-radius: 0 5px 5px 0; /* Закругляем правый край */
  cursor: pointer;
  margin-top: 6px;
}

.email-input button[type="submit"] span {
  font-size: 20px; /* Размер иконки */
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
	
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}
@media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
}
@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	
	}
}