.CategoryList{
    
    padding: 3px 0;
}
.CategoryList a{
    display: block;
    padding: 3px 10px;
    transition: 0.3s;
}
.CategoryList a:hover{
    background: rgb(214, 214, 215);;
}
.dropdownBtn{
    padding-bottom: 5px;
}
  .CardDelete{
    background: url(..//..//images/icons/cartDelete.svg);
    width: 24px;
    height: 24px;
    display: block;
  }